$couleur-primaire:#9356DC ;
$couleur-secondaire:#FF79DA;
$couleur-tertiaire:#99E2D0;
$couleur-tertiaire-fonce:#0e8f70;
$gris:#eaeaea;
$gris-claire:#f6f6f6;

$num-plat: 5;
$anim-dur: 500ms;
$anim-delay: $anim-dur / $num-plat;