.gps-box .gps-ville, .gps-box .gps-message, .gps-box .gps-button, .vitrine {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navigation .nav-list {
  background-color: #f6f6f6;
  margin-bottom: 30px;
  width: 90%;
}

.navigation .nav-list, .vitrine .restaurant {
  -webkit-box-shadow: 5px 5px 12px grey;
          box-shadow: 5px 5px 12px grey;
  border-radius: 30px;
}

.vitrine .restaurant_nom, .vitrine .restaurant_lieu {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 10px;
  margin-right: 0;
  padding: 0px;
  width: 60%;
}

.navigation .nav-list:hover {
  background-color: #e4d5f6;
  cursor: pointer;
}

.navigation .nav-list:hover i {
  color: #9356DC;
}

.navigation .fa-1, .navigation .fa-2, .navigation .fa-3 {
  position: relative;
  left: -8px;
  width: 20px;
  height: 20px;
  border-radius: 30px;
  font-weight: lighter;
  background-color: #9356DC;
  color: white;
  text-align: center;
}

.gps-box .gps-button {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: initial;
  background-image: linear-gradient(135deg, #FF79DA, #9356DC);
  border-radius: 42px;
  border-width: 0;
  -webkit-box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
          box-shadow: rgba(57, 31, 91, 0.24) 0 2px 2px, rgba(179, 132, 201, 0.4) 0 8px 12px;
  color: #FFFFFF;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: roboto,sans-serif;
  font-size: 100%;
  font-weight: 500;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  letter-spacing: .04em;
  line-height: auto;
  margin: 0;
  width: 50%;
  padding: 18px 18px;
  text-align: center;
}

.gps-box .gps-button:hover {
  -webkit-box-shadow: rgba(57, 31, 91, 0.24) 0 7px 7px, rgba(179, 132, 201, 0.4) 0 13px 20px;
          box-shadow: rgba(57, 31, 91, 0.24) 0 7px 7px, rgba(179, 132, 201, 0.4) 0 13px 20px;
  -webkit-filter: brightness(1.2);
          filter: brightness(1.2);
}

@media screen and (min-device-width: 780px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    padding: 0px;
    font-family: Roboto,sans-serif;
  }
  body a {
    -webkit-text-decoration: None;
            text-decoration: None;
    color: black;
  }
  body .gps-box {
    height: 550px;
    width: 800px;
  }
  body .navigation li {
    height: 80px;
  }
  body .navigation i {
    top: 48px;
  }
  body .vitrine {
    height: auto;
  }
  body .vitrine img {
    height: 80%;
  }
  body .restaurant {
    height: 20%;
  }
  body .restaurant_info {
    margin-top: 1%;
  }
  body .restaurant_info div {
    height: 20%;
  }
  body .restaurant_info p {
    width: 500px;
    font-size: larger;
  }
  body .fa-heart {
    font-size: 40px;
  }
}

@media screen and (max-device-width: 780px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 0px;
    font-family: Roboto,sans-serif;
    font-size: 230%;
  }
  body header {
    width: 100%;
  }
  body a {
    -webkit-text-decoration: None;
            text-decoration: None;
    color: black;
  }
  body .gps-box {
    height: 800px;
  }
  body .navigation {
    height: 800px;
  }
  body .navigation li {
    height: 150px;
  }
  body .navigation i {
    top: 110px;
  }
  body .vitrine {
    height: 2500px;
  }
  body .vitrine img {
    height: 70%;
  }
  body .vitrine .fa-heart {
    bottom: 10%;
    font-size: 180%;
  }
  body .vitrine .restaurant {
    height: 25%;
  }
  body .vitrine .restaurant_info {
    margin-top: 2%;
  }
  body .vitrine h2 {
    position: relative;
    right: 25%;
  }
}

.spinner {
  position: fixed;
  z-index: 9999;
  background: white;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  -webkit-animation: disparition 300ms 3000ms;
          animation: disparition 300ms 3000ms;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

.spinner div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: block;
  position: absolute;
  top: 20%;
  left: 45%;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #9356DC;
  border-radius: 50%;
  -webkit-animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
          animation: spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  -webkit-animation-iteration-count: 5;
          animation-iteration-count: 5;
  border-color: #9356DC transparent transparent transparent;
}

.spinner div:nth-child(1) {
  -webkit-animation-delay: -0.45s;
          animation-delay: -0.45s;
}

.spinner div:nth-child(2) {
  -webkit-animation-delay: -0.3s;
          animation-delay: -0.3s;
}

.spinner div:nth-child(3) {
  -webkit-animation-delay: -0.15s;
          animation-delay: -0.15s;
}

@-webkit-keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes spinner {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes disparition {
  from {
    opacity: 1;
    z-index: 9999;
  }
  to {
    opacity: 0;
    z-index: -999;
  }
}

@keyframes disparition {
  from {
    opacity: 1;
    z-index: 9999;
  }
  to {
    opacity: 0;
    z-index: -999;
  }
}

h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 10px;
  margin-left: auto;
  margin-right: auto;
}

h1 img {
  width: 50%;
}

.gps-box {
  background-color: #f6f6f6;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: larger;
}

.gps-box .gps-ville {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  background-color: #eaeaea;
  height: 15%;
  width: 100%;
}

.gps-box .gps-ville .fa-solid {
  margin-right: 20px;
}

.gps-box .gps-message {
  height: 50%;
  text-align: center;
}

.gps-box .gps-button {
  width: 70%;
}

.navigation {
  margin-bottom: 50px;
}

.navigation .nav-list {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 250ms;
  transition: background-color 250ms;
  margin-bottom: 10px;
}

.navigation .nav-list .fa-solid {
  padding-right: 20px;
}

main {
  background-color: #eaeaea;
  padding-bottom: 50px;
  width: 100%;
}

.vitrine .restaurant {
  position: relative;
  margin: 10px;
  width: 85%;
  background-color: white;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
  font-size: 110%;
}

.vitrine .restaurant .nouveau {
  font-size: 80%;
  position: absolute;
  text-align: center;
  margin: 0px;
  padding: 5px;
  top: 10%;
  left: 78%;
  width: auto;
  height: auto;
  background-color: #99E2D0;
  color: #0e8f70;
}

.vitrine .restaurant img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  width: 100%;
}

.vitrine .restaurant img:hover {
  cursor: pointer;
}

.vitrine .restaurant_info {
  margin-bottom: 1%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.vitrine .restaurant_info a {
  width: 85%;
}

.vitrine .restaurant_nom {
  font-weight: 700;
  margin-bottom: 1%;
}

.vitrine .restaurant i:hover {
  cursor: pointer;
}

.vitrine .restaurant .fa-heart {
  position: absolute;
  left: 80%;
  margin-top: 0px;
  cursor: pointer;
}

.vitrine .restaurant .fa-solid {
  z-index: -1;
  -webkit-transition: opacity(0) 400ms;
  transition: opacity(0) 400ms;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  background: -webkit-linear-gradient(#9356DC, #FF79DA);
  cursor: pointer;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.vitrine .restaurant .fa-heart:active + .fa-solid {
  content: "";
  cursor: pointer;
  opacity: 1;
  z-index: 1;
  -webkit-transition: opacity(1) 400ms;
  transition: opacity(1) 400ms;
}

footer {
  background-color: black;
  width: 100%;
}

footer ul {
  list-style-type: none;
}

footer .logo {
  font-family: Shrikhand;
  color: white;
}

footer .colaboration {
  color: white;
}

footer .info {
  color: white;
}

footer a {
  text-decoration: none;
}
/*# sourceMappingURL=style.css.map */